.main-color{
    width: 200px;
    height: 200px;
    background-color: #46B1C9;
}
.lighter-blue{
    width: 200px;
    height: 200px;
    background-color: #002C57;
}
.dark-blue{
    width: 200px;
    height: 200px;
    background-color: #001020;
}