/*
filename: [about.css]
author: [cos10026.2 - g5]
created: [10/02/2024]
last modified: [26/02/2024]
description: [about.php]
*/


/* HEADER */
.drop:nth-child(4){
    opacity: 1;
    position: relative;
}
.drop:nth-child(4)::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5%;
    background-color: #84C0C6;
}

/* HERO */
.hero-content {
    width: 100vw;
    height: 45vh;
    background-image: url(./images/page-header-bg.png);
    background-position: center;
    background-color: #1B1525;
    background-size: cover;
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    margin-top: 15vh;
}
.hero-items {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.hero-navi {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 1em;
    font-weight: 700;
    color: #46B1C9;
}
.hero-navi li:nth-child(2){
    margin: 0 12px;
}
.hero-items h2 {
    font-size: 2.6rem;
    font-weight: 700;
    color: whitesmoke;
    margin: 15px 0;
}









/* SERVICE */
.service {
    width: 100vw;
    height: 65vh;
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
}
.service-row {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto 0;
    position: relative;
}
.service-box {
    height: 55%;
    width: 28%;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.service-box::before {
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    opacity: 0.2;
    position: absolute;
    background-color: black;
    transition: 0.4s ease-in-out;
}
.service-box:hover .service-content::before{
    height: 100%;
}
.service-box:hover .service-text{
    color: white;
}
.service-box:hover::before{
    height: 100%;
}
.service-box:nth-child(1){
    background-image: url(./images/project-1.jpg);
}
.service-box:nth-child(2) {
    background-image: url(./images/project-2.jpg);
}
.service-box:nth-child(3) {
    background-image: url(./images/project-3.jpg);
}
.service-content {
    width: 20vw;
    background-color: whitesmoke;
    padding: 20px;
    position: relative;
    transform: translateY(50%);
}
.service-text {
    font-size: 1.1em;
    font-weight: 700;
    position: relative;
    z-index: 30;
    line-height: 1.5rem;
    transition: 0.4s ease-in-out;
}
.service-content::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background-color: #002C57;
    transition: 0.4s ease-in-out;
    z-index: 10;
}







/* BUSINESS */
.business {
    width: 100vw;
    height: 60vh;
    background-color: #00081A;
    position: relative;
    z-index: 100;
    display: flex;
    align-items: center;
}
.business-wrap{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-image: url(./images/business-from-bg.jpg);
    mix-blend-mode: luminosity;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.6;
}
.business-content {
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.business-text {
    font-size: 2.5em;
    color: #46B1C9;
    font-weight: 500;
}
.business-content h1 {
    font-size: 7em;
    color: white;
    margin: 25px 0;
}
.business-button{
    width: 12%;
    background-color: #002C57;
    height: 15%;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    cursor: pointer;
}
.business-button span{
    position: relative;
    z-index: 70;
}
.business-button::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    z-index: 30;
    top: 0;
    left: 0;
    background-color: black;
    transition: 0.4s ease-in-out 0.2s;
}
.business-button:hover::after{
    height: 100%;
}







/* MORE */
.more {
    width: 100vw;
    height: 90vh;
    display: flex;
    align-content: center;
    position: relative;
}
.more-row {
    width: 90%;
    height: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    position: relative;
}
.more-content {
    width: 40%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-between;
    align-items: center;
}
.more-title-start{
    margin: 10px 0;
}
.more-title-start span {
    font-weight: 700;
    color:#002C57;
}
.more-title h1{
    font-size: 40px;
    line-height: 50px;
}
.more-text {
    font-size: 1.1rem;
    color: #454648;
    line-height: 2rem;
}
.more-features {
    display: flex;
    height: 50%;
}
.features-1, .features-2 {
    height: 100%;
    width: 100%;
    display: inline-block;
    padding: 20px 0;
}
.more-features p {
    color: #454648;
    line-height:1.8rem;
}
.more-features h2{
    margin-bottom:20px;
}
.more-features img {
    width: 25%;
    height: auto;
    transition: transform 0.5s ease
}
.more-features img:hover {
    transform: scale(0.85);
} 
.more-title,.more-text,.more-features {
    margin:0 3%;
}
.more-img {
    align-self: center;
    animation: slideLeft 2s;
    display: flex;
}
.more-img {
    height: 75%;
}
.img-back {
    background-color:#46B1C9;
    height: 50vh;
    width: 2vw;
    align-self: center;
}








/* MEMBERS */
.member {
    width: 100%;
    height: 250vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.member-header, .member-group, .member-people, .member-schedule {
    position: relative;
    z-index: 20;
}
.circle-bg{
    position: absolute;
    width: 40%;
    aspect-ratio: 1 / 1;
    right: 0;
    bottom: -3%;
    z-index: 10;
    transform: rotate(45deg);
}
.member-header {
    width: 100%;
    text-align: center;
}
.member-meet span {
    font-weight: 700;
    color: #002C57;
    position: relative;
}
.member-meet span::before {
    content: "";
    position: absolute;
    width: 95%;
    height: 1px;
    left: -102%;
    top: 50%;
    background-color: #002c57;
}
.member-meet span::after {
    content: "";
    position: absolute;
    width: 95%;
    height: 1px;
    right: -102%;
    top: 50%;
    background-color: #002c57;
}
.member-header h1 {
    font-size: 2.5rem;
    font-size: 3em;
}



/* MEMBER - GROUP */
.member-group {
    width: 70%;
    height: 20%;
    line-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: #001020;
    border-radius: 20px;
    margin-top: 50px;
    color: white;
}
.member-group dt {
    float: left;
    width: 150px; 
    clear: left;
    font-weight: bold; 
}
.member-group dd {
    margin-left: 160px;
}
.group-photo {
    width: 60%;
    height: 90%;
    aspect-ratio: 4 / 3;
    float: right;
    box-sizing: border-box;
    padding: 10px;
}
.group-photo img {
    object-fit: cover;
    float: right;
    width: 70%;
    height: 100%;
    border: 5px solid #002C57;
    border-radius: 20px;
}





/* MEMBER - INDIVIDUAL */
.member-people {
    width: 90%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
.member-box {
    width: 30%;
    height: 65vh;
    perspective: 1000px;
}
.member-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s ease;
    transform-style: preserve-3d;
}
.member-box-front, .member-box-back {
    background-color: aliceblue;
    position: absolute;
    width: 100%;
    height: 100%; 
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: 0 0 10px 5px lightgrey;
}
.member-box-front {
    width: 100%;
    height: 65vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.member-box-back {
    width: 100%;
    height: 65vh;
    transform: rotateY(180deg);
}

.member-box:hover .member-box-inner {
    transform: rotateY(180deg);
}


/* MEMBER - FRONT */
.member-front-pic {
    width: 24vw;
    height: 50vh;
    background-repeat: no-repeat;
    background-color: #00081A;
    background-position: center;
    display: flex;
    align-self: center;
    margin: 20px;
}
.person1 .member-front-pic {
    background-image: url(./images/member-1.jpg);
}
.person2 .member-front-pic {
    background-image: url(./images/member-2.jpg);
}
.person3 .member-front-pic {
    background-image: url(./images/member-3.jpg);
}

.member-introduce {
    width: 24vw;
    height: 12vh;
    line-height: 2em;
    display: block;
    align-self: center;
    padding: 10px 0;
}
.member-introduce h2{
    font-size: 1.5em;
    transition: 0.5s ease-in-out;
}
.member-introduce p {
    color: #454648;
}



/* MEMBER - BACK */
.member-info {
    width: 100%;
    height: 90%;
    line-height: 30px;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}
.member-info dt {
    float: left;
    width: 100px; 
    clear: left;
    font-weight: bold; 
    text-align: left;
}
.member-info dd {
    margin-left: 200px;
    text-align: left;
}
.member-email {
    width: 100%;
    height: 10%;
    display: flex;
}
.member-email h1 {
    font-size: 1.1em;
    padding: 10px;
    align-self: center;
}
.member-email a {
    float: right;
    margin-left: 5em;
    align-self: center;
    text-align: left;
}







/* TABLE */
.member-schedule {
    width: 60%;
}
.member-schedule table {
    width: 100%;
    text-align: center;
    line-height: 30px;
    margin-top: 80px;
    color: white;
}
table, td, th, caption {
    border: 3px solid #46B1C9;
    border-collapse: collapse;
    text-align: center;
    background-color: #001020;

}
caption {
    font-weight: 700;
    font-size: 1.5em;
    margin-bottom: 20px;
}


/* ANIMATION */
@keyframes slideLeft {
    from {
        transform: translateX(300px);
    }
    to {
        transform: translateX(0);
    }
}