* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
ul li{
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}

/* HEADER */

.header{
    width: 100vw;
    height: 15vh;
    background-color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px 2px grey;
    z-index: 100;
    position: sticky;
    /* background-color: blue; */
    font-family: 'Kumbh Sans', sans-serif;

}
.logo {
    width: 11%;
    margin-left: 3%;
    cursor: pointer;
    /* background-color: red; */
}
.logo img{
    width: 100%;
    object-fit: cover;
}
.main-menu{
    width: 47%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    /* background-color: gray; */
}
.drop:nth-child(4){
    opacity: 1;
    position: relative;
}
.drop:nth-child(4)::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5%;
    background-color: #84C0C6;
}
.drop{
    position: relative;
    transition: 0.3s ease;
    color: #002c57;
    opacity: 0.5;
}
.drop::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 5%;
    background-color: #84C0C6;
    transition: 0.4s ease-in-out;
}
.drop:hover::after{
    width: 100%;
}
.drop:hover{
    opacity: 1;
}
.pages-drop, .services-drop{
    position: absolute;
    top: 50px;
    width: 12vw;
    font-size: 15px;
    background-color: white;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    animation: drop 0.4s ease;
    opacity: 0;
    line-height: 8vh;
}
.pages-drop li:hover{
    background-color: #84C0C6;
    color: white;
}
.services-drop li:hover{
    background-color: #84C0C6;
    color: white;
}
.pages-drop li, .services-drop li{
    transition: 0.2s linear;
    /* border-radius: 10px; */
    padding-left: 10px;
}
.pages-drop li:nth-child(3), .services-drop li:nth-child(4){
    border-radius: 0 0 5px 5px;
}
.pages-drop li:nth-child(1), .services-drop li:nth-child(1){
    border-radius: 5px 5px 0 0;
}
.pages-drop::after{
    content: "";
    position: absolute;
    width: 30%;
    height: 20px;
    top: -20px;
    left: 0;
}
.services-drop::after{
    content: "";
    position: absolute;
    width: 40%;
    height: 20px;
    top: -20px;
    left: 0;
}
.drop:nth-child(2):hover .pages-drop {
    opacity: 1;
    display: flex;
}
.drop:nth-child(3):hover .services-drop {
    opacity: 1;
    display: flex;
}
.hiring{
    font-size: 20px;
    position: relative;
    color: #002c57;
}
.hiring::after{
    content: "";
    width: 110%;
    height: 10px;
    background-image: url(https://www.beyondcss.dev/underline.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    bottom: -9px;
    left: -6px;
    animation: line 0.5s ease-in-out 0s;
    rotate: -1deg;
} 
.hiring:hover{
    animation: hiringText 2.5s ease-in-out infinite;
}
.icon-control{
    height: 100%;
    width: 18%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-right: 2%;
    /* background-color:lightblue; */
}
.log-in{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36%;
    height: 35%;
    /* background-color: red; */
    border-radius: 8px;
    border: 1px solid #84C0C6;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.log-in span{
    /* background-color: red; */
    color: #46B1C9;
    font-size: 14px;
    transition: 0.3s ease-in-out;
}
.log-in p{
    /* background-color: red; */
    color: #46B1C9;
    font-size: 14px;
    transition: 0.3s ease-in-out;
}
.log-in span{
    margin: 0 10px 0 0;
}
.start{
    width: 40%;
    height: 35%;
    background-color: #84C0C6;
    outline: none;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    margin: 0 10px;
    font-weight:400 ;
}
.start:hover{
    background-color: black;
}
.iconsearch-ctr{
    height: 35%;
    aspect-ratio: 1;
    /* background-color: #84C0C6 ; */
    display: flex;
    justify-content: center;
    border-radius: 5px;
}
.search {
    position: relative;
    width: 70%;
    object-fit: contain;
    cursor: pointer;
    /* background-color: whitesmoke; */
}
.iconsearch-ctr:hover .wrap{
    transform: translateY(0vh);
}
.iconsearch-ctr:hover .search-box{
    transform: translateY(0vh);
}
.search-box{
    position: absolute;
    width: 100vw;
    height: 50vh;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.45s ease-in-out;
    transform: translateY(-100vh);
}
.wrap{
    width: 100vw;
    height: 50vh;
    background-color: #84C0C6 ;
    top: 0;
    left: 0;
    opacity: 0.4;
    position: absolute;
    transform: translateY(-100vh);
    transition: 0.45s ease-in-out;
}
.search-box input{
    width: 60%;
    height: 18%;
    outline: none;
    border: none;
    padding-left: 2%;
    font-size: 17px;
}
.icon-control a{
    height: 30%;
    width: 20%;
}
.icon-control a img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.line{
    width: 5%;
    height: 30%;
}
.icon {
    height: 18%;
    background-color: white;
    display: flex;
    justify-content: center;
}
.icon img{
    width: 45%;
    aspect-ratio: 1;
    object-fit: contain;
    cursor: pointer;
}

/* HERO */
.hero-content {
    width: 100%;
    height: 39.8vh;
    background-image: url(../images/page-header-bg.png);
    background-position: center;
    background-color: #1B1525;
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Kumbh Sans', sans-serif;
    
}
.hero-items {
    width: 50%;
    height: auto;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    /* background-color: lightblue; */
    position: relative;
    padding: 100px 0 0 0;
}
.hero-navi {
    width: 20%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    /* background-color: red; */
    font-size: 1em;
    font-weight: 700;
    padding-bottom: 0.5em;
    color: #2BE4AC;
}
.hero-items h2 {
    /* padding-top: 0em; */
    font-size: 2.6rem;
    font-weight: 700;
    color: whitesmoke;
}

@keyframes line {
    0%{
        width: 0;
        opacity: 0;
    }
    100%{
        width: 110%;
        opacity: 1;
    }
}
@keyframes drop {
    0% {
        opacity: 0;
        top: 35px;
    }
    100% {
        opacity: 1;
        top: 50px;
    }
}
@keyframes hiringText {
    0%{
        transform: translateY(0);
    }
    25% {
        transform: translateY(-20%);
    }
    50% {
        transform: translateY(-5%);
    }
    75%{
        transform: translateY(-20%);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes titleHero1 {
    0%{
        transform: translateY(-20vh);
        opacity: 0;
    }
    100%{
        transform: translateY(0vh);
        opacity: 1;
    }
}
@keyframes titleHero2 {
    0%{
        transform: translateY(20vh);
        opacity: 0;
    }
    100%{
        transform: translateY(0vh);
        opacity: 1;
    }
}
@keyframes background {
    0%{
        scale: 1.1;
    }
    100%{
        scale: 1;
    }
}

/* SERVICE */
.service {
    width: 100vw;
    height: 60vh;
    /* background-color: red; */
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
    /* margin: 100px 0; */
}
.service-row {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: blue; */
    margin: auto 0;
    position: relative;
}
.service-box {
    height: 55%;
    width: 28%;
    /* background-color: #46B1C9; */
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.service-box::before {
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    opacity: 0.3;
    position: absolute;
    background-color: black;
    transition: 0.4s ease-in-out;
}
.service-box:hover .service-content::before{
    height: 100%;
}
.service-box:hover .service-text{
    color: white;
}
.service-box:hover::before{
    height: 100%;
}
.service-box:nth-child(1){
    background-image: url(./images/project-1.jpg);
}
.service-box:nth-child(2) {
    background-image: url(./images/project-2.jpg);
}
.service-box:nth-child(3) {
    background-image: url(./images/project-3.jpg);
}
.service-content {
    /* height: auto; */
    width: 20vw;
    background-color: whitesmoke;
    padding: 20px;
    position: relative;
    transform: translateY(50%);
}
.service-text {
    font-size: 1.1em;
    font-weight: 700;
    position: relative;
    z-index: 30;
    transition: 0.4s ease-in-out;
}
/* .service-text:hover {
    background-color: #002c57;
} */
.service-content::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background-color: #002C57;
    transition: 0.4s ease-in-out;
    z-index: 10;
}

/* BUSINESS */
.business {
    width: 100vw;
    height: 60vh;
    background-image: url(./images/business-from-bg.jpg);
    background-color: #00081A;
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-attachment: fixed;
    z-index: 999;
}
.business-content {
    /* background-color: red; */
    width: 100%;
    height: 80%;
    text-align: center;
    padding-top: 100px;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
}
.business-content p:nth-child(1) {
    font-size: 2.5em;
    color: #2BE4AC;
}
.business-content h2 {
    font-size: 7em;
    color: white;
}
.business-button{
    width: 13%;
    background-color: #46B1C9;
    height: 25%;
    /* outline: none; */
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    cursor: pointer;
    margin: 20px auto;
}
.business-button p{
    position: absolute;
    z-index: 70;
}
.business-button::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    z-index: 60;
    /* background-color: red; */
    top: 0;
    left: 0;
    background-color: black;
    transition: 0.4s ease-in-out 0.2s;
}
.business-button:hover::after{
    height: 100%;
}

/* MORE */
.more {
    width: 100vw;
    height: 80vh;
    position: relative;
}
.more-row {
    width: 90%;
    height: 90%;
    /* background-color: red; */
    margin: 0 auto;
    display: flex;
}
.more-content {
    width: 50%;
    height: 100%;
    margin: 2em;
    line-height: 2.2em;
}
.more-title-start span {
    margin-left: 10px;
    font-weight: 700;
    color: #6653E8;
}
.more-title h1{
    font-size: 40px;
    line-height: 50px;
}
.more-text {
    font-size: 1.2em;
    margin: 20px 0;
    color: gray;
}
.more-features {
    display: flex;
}