/*
filename: [about.css]
author: [cos10026.2 - g5]
created: [10/02/2024]
last modified: [25/02/2024]
description: [about.html]
*/


/* HEADER */
.drop:nth-child(4){
    opacity: 1;
    position: relative;
}
.drop:nth-child(4)::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5%;
    background-color: #84C0C6;
}

/* HERO */
.hero-content {
    width: 100vw;
    height: 45vh;
    background-image: url(../images/page-header-bg.png);
    background-position: center;
    background-color: #1B1525;
    background-size: cover;
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    margin-top: 15vh;
}
.hero-items {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.hero-navi {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 1em;
    font-weight: 700;
    color: #46B1C9;
}
.hero-navi li:nth-child(2){
    margin: 0 12px;
}
.hero-items h2 {
    font-size: 2.6rem;
    font-weight: 700;
    color: whitesmoke;
    margin: 15px 0;
}









/* SERVICE */
.service {
    width: 100vw;
    height: 65vh;
    /* background-color: red; */
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
    /* margin: 100px 0; */
}
.service-row {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: blue; */
    margin: auto 0;
    position: relative;
}
.service-box {
    height: 55%;
    width: 28%;
    /* background-color: #46B1C9; */
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.service-box::before {
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    opacity: 0.2;
    position: absolute;
    background-color: black;
    transition: 0.4s ease-in-out;
}
.service-box:hover .service-content::before{
    height: 100%;
}
.service-box:hover .service-text{
    color: white;
}
.service-box:hover::before{
    height: 100%;
}
.service-box:nth-child(1){
    background-image: url(./images/project-1.jpg);
}
.service-box:nth-child(2) {
    background-image: url(./images/project-2.jpg);
}
.service-box:nth-child(3) {
    background-image: url(./images/project-3.jpg);
}
.service-content {
    /* height: auto; */
    width: 20vw;
    background-color: whitesmoke;
    padding: 20px;
    position: relative;
    transform: translateY(50%);
}
.service-text {
    font-size: 1.1em;
    font-weight: 700;
    position: relative;
    z-index: 30;
    line-height: 1.5rem;
    transition: 0.4s ease-in-out;
}
.service-content::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background-color: #002C57;
    transition: 0.4s ease-in-out;
    z-index: 10;
}







/* BUSINESS */
.business {
    width: 100vw;
    height: 60vh;
    background-color: #00081A;
    position: relative;
    z-index: 100;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.business-wrap{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-image: url(./images/business-from-bg.jpg);
    mix-blend-mode: luminosity;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.6;
}
.business-content {
    /* background-color: red; */
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    z-index: 20;
    /* padding-top: 100px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.business-text {
    font-size: 2.5em;
    color: #46B1C9;
    font-weight: 500;
    /* margin: 20px 0; */
}
.business-content h1 {
    font-size: 7em;
    color: white;
    margin: 25px 0;
}
.business-button{
    width: 12%;
    background-color: #002C57;
    height: 15%;
    /* outline: none; */
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    cursor: pointer;
    /* margin: 20px auto; */
}
.business-button span{
    position: relative;
    z-index: 70;
}
.business-button::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    z-index: 30;
    /* background-color: red; */
    top: 0;
    left: 0;
    background-color: black;
    transition: 0.4s ease-in-out 0.2s;
}
.business-button:hover::after{
    height: 100%;
}







/* MORE */
.more {
    width: 100vw;
    height: 90vh;
    display: flex;
    align-content: center;
    position: relative;
    /* background-color: blue; */
}
.more-row {
    width: 90%;
    height: 90%;
    /* background-color: red; */
    margin: auto;
    display: flex;
    justify-content: space-around;
    /* align-items:center; */
    position: relative;
}
.more-content {
    width: 40%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-between;
    align-items: center;
    /* background-color: #2BE4AC; */
}
.more-title-start{
    margin: 10px 0;
}
.more-title-start span {
    /* margin-left: 10px; */
    font-weight: 700;
    color:#002C57;
    /* background-color: red; */
}
.more-title h1{
    font-size: 40px;
    line-height: 50px;
}
.more-text {
    font-size: 1.1rem;
    color: #454648;
    /* margin-top: 300px; */
    line-height: 2rem;
    
    /* background-color: red; */
}
.more-features {
    display: flex;
    /* flex-direction: row; */
    height: 50%;
    /* background-color: red; */
}
.features-1, .features-2 {
    height: 100%;
    width: 100%;
    display: inline-block;
    /* background-color: blue; */
    /* align-self: center; */
    padding: 20px 0;
}
.more-features p {
    color: #454648;
    /* margin-top: 10px; */
    line-height:1.8rem;
    /* max-lines: 2; */
}
.more-features h2{
    margin-bottom:20px;
}
.more-features img {
    width: 25%;
    height: auto;
    /* margin-bottom: -20px; */
    transition: transform 0.5s ease
}
.more-features img:hover {
    transform: scale(0.85);
} 
.more-title,.more-text,.more-features {
    margin:0 3%;
}
.more-img {
    align-self: center;
    animation: slideLeft 2s;
    display: flex;
}
.more-img {
    height: 75%;
}
.img-back {
    background-color:#46B1C9;
    height: 50vh;
    width: 2vw;
    align-self: center;
}








/* MEMBERS */
.member {
    width: 100%;
    height: 180vh;
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    background-color: lightblue;
    align-items: center;
}
.member-header {
    width: 100%;
    text-align: center;
    /* margin-bottom: 50px; */
    background-color: lightcoral;
}
.member-meet span {
    /* margin-left: 10px; */
    font-weight: 700;
    color: #002C57;
    position: relative;
    /* margin: 100px 0;  */
    /* display: block; */
    /* background-color: red; */
}
.member-meet span::before {
    content: "";
    position: absolute;
    width: 70%;
    height: 1px;
    left: -80%;
    top: 50%;
    background-color: #002c57;
}
.member-meet span::after {
    content: "";
    position: absolute;
    width: 70%;
    height: 1px;
    right: -80%;
    top: 50%;
    background-color: #002c57;
}
.member-header h2 {
    font-size: 2.5rem;
    margin: 10px 0;
    /* font-size: 3em; */
}
.member-people {
    background-color: #46B1C9;
    width: 90%;
    height: 75vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* margin: 0 auto; */
    flex: 1;
}
.member-box {
    width: 30%;
    height: 70%;
    /* background-color: red; */
    perspective: 1000px;
}
.member-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s ease;
    transform-style: preserve-3d;
}
.member-box-front, .member-box-back {
    background-color: aliceblue;
    position: absolute;
    width: 100%;
    height: 100%; 
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.member-box-front {
    width: 100%;
    height: 65vh;
    text-align: center;
    padding: 10px;
    overflow: hidden;
    background-color: #002C57;
}
.member-box-back {
    width: 100%;
    height: 100%;
    background-color: blueviolet;
    transform: rotateY(180deg);
}

.member-box:hover .member-box-inner {
    transform: rotateY(180deg);
}




.member-front-pic {
    width: 24vw;
    height: 50vh;
    background-image: url(../images/member-3.png);
    background-repeat: no-repeat;
    background-color: #00081A;
    background-position: center;
    margin: 0 auto;
    display: flex;
    justify-content: right;
}
.member-introduce {
    height: 10vh;
    line-height: 2em;
    background-color: #002c57;
    display: block;
    align-self: center;
    padding: 10px 0;
    margin: 20px 0;
}
.member-introduce h3 {
    font-size: 1.5em;
    transition: 0.5s ease-in-out;
}
.member-introduce h3:hover {
    color: #002C57;
}
.member-introduce p {
    color: #454648;
}

.member-container {
    width: 100%;
    overflow: hidden;
}
.member-info {
    width: 50%;
    height: 50vh;
    background-color: #002C57;
    overflow: hidden;
    line-height: 25px;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}
.member-info dt {
    float: left;
    width: 150px; 
    clear: left;
    font-weight: bold; 
}
.member-info dd {
    margin-left: 160px;
}
figure {
    width: 50%;
    float: right;
    box-sizing: border-box;
    padding: 10px;
}
figure img {
    /* float: right; */
    width: 50%;
    /* height: 50%; */
    border: 5px solid black;
    border-radius: 1px;
}




.member-schedule {
    width: 100%;
    /* height: ; */
}
.member-schedule table {
    width: 70%;
    text-align: center;
    margin: 100px auto;
}
table, td, th {
    border: 2px solid black;
    text-align: center;
}
caption {
    font-weight: 700;
    font-size: 1.5em;
    margin-bottom: 20px;
}


