/*
filename: [style.css]
author: [cos10026.2 - g5]
created: [10/02/2024]
last modified: [25/02/2024]
description: [apply.html]
*/



/* HEADER */
.drop:nth-child(6){
    opacity: 1;
    position: relative;
}
.drop:nth-child(6)::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5%;
    background-color: #84C0C6;
}




/* HERO */
.hero-content {
    font-family: 'Kumbh Sans', sans-serif;
    width: 100vw;
    height: 45vh;
    background-image: url(./images/page-header-bg.png);
    background-position: center;
    background-color: #1B1525;
    background-size: cover;
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    margin-top: 15vh;
}
.hero-items {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.hero-navi {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 1em;
    font-weight: 700;
    color: #46B1C9;
}
.hero-navi li:nth-child(2){
    margin: 0 12px;
}
.hero-items h2 {
    font-size: 2.6rem;
    font-weight: 700;
    color: whitesmoke;
    margin: 15px 0;
}









/* DESCRIPTION */
.description {
    width: 100%;
    height: 68vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Kumbh Sans', sans-serif;

}
.description-img {
    background-repeat: no-repeat;
    border-radius: 20px;
    width: 50%;
    height: 70%;
    margin-left: 5rem;
    margin-right: 5rem;
    position: relative;
}
.description-content {
    width: 70%;
    height: 70%;
    position: relative;
    margin: 0 5vw 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
}
.content-header {
    margin: 1em 2rem;
    position: relative;
}
.content-header-start {
    display: flex;
    color: #002C57;
    font-weight: 600;
}
.content-header h2{
    font-weight: 600;
    font-size: 2.4em;
    padding: 0 0;
    position: relative;
}
.content-header p {
    margin: 0 0.2rem;
    position: relative;
}
.content-text {
    font-weight: 300;
    font-size: 1.2em;
    padding: 0 0;
    margin: 0.6em 2rem 2em ;
    position: relative;
    line-height: 1.8rem;
}
.content-start {
    font-weight: 600;
    font-size: 1.5em;
    margin: 0 2rem 1em;
}







/* FORM */
.form-background {
    width: 100%;
    height: fit-content;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -999;
}
form {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 70vw;
    height: fit-content;
    background-color: #ededed;
    box-shadow: 0 0 10px 3px grey;
    border-radius: 30px;
    text-align: center;
    line-height: 38px;
    padding-top: 50px;
    margin: 100px auto;
    position: relative;
}
.helpdesk-des{
    margin: 20px 0;
}
form em {
    color: #770000;
}
.form-sections {
    font-size: 20px;
    text-align: left;
    margin: 1em 0 1em 10em;
}
fieldset {
    width: 80%;
    border: 2px solid #222 ;
    align-items: center;
    margin: 0 auto 2.2em;
    padding-bottom: 0.8em;
    position: relative;
    border-radius: 20px;
    text-align: left;
}
fieldset div{
    width: fit-content;
    line-height: 1.5em;
    margin: 10px 3em 10px;
    padding: 0.2em 0 0.5em 0;
}
hr {
    height: 8px;
    background-color: #002C57;
    border: none;
    margin: 0 6.7em;
}
legend {
    width: 20vw;
    text-align: center;
    margin: 0 50px;
    border: 3px solid #1B1525;
    border-radius: 10px;
}
.form-personal-details > #name,#gender,#id {
    margin-bottom: 1.2em;
}
#name {
    display: flex;
}
#name div{
    margin: auto;
}

.form-contact-details {
    line-height: 2.8em;
    padding-bottom: 0.8em;
    margin-bottom: 2.2em;
    display: flex;
}
label {
    display: inline-block; 
}
form input[type=text], input[type=email] ,select {
    border: 2px solid #787878;
    border-radius: 5px;
    padding: 3px 0;
}
form input[type=radio] {
    cursor: pointer;
    margin: 0 2px 0 10px;
}
form input[type=radio] + label,input[type=checkbox] + label {
    cursor: pointer;
}
form input[type=radio]:checked + label {
    color: #002c57;
}
form input[type=checkbox]:checked + label {
    color: #002C57;
}
input[type=checkbox] {
    cursor: pointer;
    margin-left: 0.5em;
    border-radius: 10px;
}
form input[type=text]:valid, form input[type=email]:valid {
    border: 2px solid #002C57;
}
#sec3 textarea,#sec4 textarea {
    border: 2px solid black;
    border-radius: 10px;
    font-size: 1.1em;
}
textarea:placeholder-shown {
    font-size: 1.1em;
}
textarea{
    padding: 10px 10px;
}
.form-actions input{
    opacity: 0.7;
    margin: 0.2em 1.2em 1.5em;
    font-size: 1.2em;
    padding: 1%;
    border: 2px solid ;
    border-radius: 14px;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.5);
}
.form-actions input:hover {
    opacity: 1;
    cursor: pointer;
    background: #1B1525;
    transition: 0.2s ease-in-out;
    color: whitesmoke;
}
table {
    border: 2px solid black;
    border-radius: 10px;
    line-height: 2.2em;
    margin: 0 auto 20px;
    text-align: center;
}
table th {
    border: 1px solid black;
    border-radius: 10px;
}
table label {
    width: 100%;
    font-weight: 700;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid black;
    background-color: #cbcbcb;
}
table textarea {
    border: 1px solid black;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: -7px;
}
th {
    background-color: #cbcbcb;
}
h3 {
    font-weight: 500;
}








/* MEDIA */
@media screen and (max-width: 900px) {
    .header {
        height: auto; 
        flex-direction: column; 
        position: relative;
    }
    .logo {
        width: 50%; 
        margin-top: 50px;
        margin-left: 0;
    }
    .main-menu {
        width: 100%; 
        text-align: center; 
        margin-top: 30px; 
    }
    .main-menu li {
        margin: 0 5px;
    }
    .drop::after {
        display: none; 
    }
    .pages-drop,.services-drop {
        width: 50vw; 
        top: 50px;
        z-index: 1;
    }
    .icon-control {
        width: 50%;
        height: 100px;
        margin-top: 10px;
    }
    .hero-content {
        width: 100%;
        height: 32vh;
    }
    .description {
        height: 100vh;
        flex-direction: column;
        margin: -100px 0;
    }
    .description-img {
        display: none;
    }
    .form-container {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    form {
        width: 100%;
    }
    form section {
        width: 100%;
    }
    .form-sections {
        width: 100%;
        margin: 1em 2em 1em;
    }
    form fieldset {
        width: 100%;
    }
    fieldset div {
        margin: 0 10px;
    }
    table textarea {
        width: 100%;
        height: 50px;
    }
    table label {
        width: 100%;
    }
}