/*
filename: [enhancements.css]
author: [cos10026.2 - g5]
created: [23/02/2024]
last modified: [25/02/2024]
description: [enhancements.html]
*/



/* HEADER */
.drop:nth-child(5){
    opacity: 1;
    position: relative;
}
.drop:nth-child(5)::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5%;
    background-color: #84C0C6;
}



/* HERO */
.hero-content {
    width: 100vw;
    height: 45vh;
    background-image: url(./images/page-header-bg.png);
    background-position: center;
    background-color: #1B1525;
    background-size: cover;
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    margin-top: 15vh;
}
.hero-items {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.hero-navi {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 1em;
    font-weight: 700;
    color: #46B1C9;
}
.hero-navi li:nth-child(2){
    margin: 0 12px;
}
.hero-items h2 {
    font-size: 2.6rem;
    font-weight: 700;
    color: whitesmoke;
    margin: 15px 0;
}





/* CONTENT */
.enhancements {
    width: 100%;
    height: 180vh;
    margin: 50px 0;
}
.enhance-title {
    width: 100%;
    height: 10vh;
    margin: 5em 0;
    text-align: center;
}
.enhance-title img,span {
    font-size: 1.1em;
    margin: 0 5px;
}
.enhance-title span {
    color: #002C57 ;
    font-weight: 700;
}
.enhance-title h1 {
    font-size: 3em;
}
.enhance-content {
    width: 90%;
    height: 150vh;
    display: flex;
    justify-content: space-around;
    margin: 2em auto;
    word-spacing: 5px;
    line-height: 1.3em;
}
.enhance-content h1,h2 {
    color: #002C57;
}
.enhance-content ul {
    list-style-type: disc;
}
.enhancement-1,.enhancement-2 {
    width: 45%;
    height: 100%;
    border: 4px solid #001020;
    border-radius: 50px;
}
.enhancement-1 h1,.enhancement-2 h1 {
    width: 100%;
    text-align: center;
    padding: 10px;
    border-bottom: 4px solid #001020;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    background-color: #84C0C6;
}

.enhancement-1 h2, .enhancement-1 p, .enhancement-2 h2, .enhancement-2 p {
    margin: 10px 1.5em;
}

.enhancement-1 p,.enhancement-1 ol,.enhancement-1 ul,.enhancement-2 p,.enhancement-2 ol,.enhancement-2 ul {
    margin: 10px 4.5em;
}


