* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
ul li{
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}





/* HEADER */

.header{
    width: 100vw;
    height: 15vh;
    background-color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px 2px grey;
    z-index: 100;
    position: fixed;
    /* display: none; */
    /* visibility: hidden; */
    /* background-color: blue; */
}
.logo {
    width: 11%;
    margin-left: 3%;
    cursor: pointer;
    /* background-color: red; */
}
.logo img{
    width: 100%;
    object-fit: cover;
}
.main-menu{
    width: 47%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    /* background-color: gray; */
}
.drop:nth-child(1){
    opacity: 1;
    position: relative;
}
.drop:nth-child(1)::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5%;
    background-color: #84C0C6;
}
.drop{
    position: relative;
    transition: 0.3s ease;
    color: #002c57;
    opacity: 0.5;
}
.drop::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 5%;
    background-color: #46B1C9;
    transition: 0.4s ease-in-out;
}
.drop:hover::after{
    width: 100%;
}
.drop:hover{
    opacity: 1;
}
.pages-drop, .services-drop{
    position: absolute;
    top: 50px;
    width: 12vw;
    font-size: 15px;
    background-color: white;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    animation: drop 0.4s ease;
    opacity: 0;
    line-height: 8vh;
}
.pages-drop li:hover{
    background-color: #46B1C9;
    color: white;
}
.services-drop li:hover{
    background-color: #46B1C9;
    color: white;
}
.pages-drop li, .services-drop li{
    transition: 0.2s linear;
    /* border-radius: 10px; */
    padding-left: 10px;
}
.pages-drop li:nth-child(3), .services-drop li:nth-child(4){
    border-radius: 0 0 5px 5px;
}
.pages-drop li:nth-child(1), .services-drop li:nth-child(1){
    border-radius: 5px 5px 0 0;
}
.pages-drop::after{
    content: "";
    position: absolute;
    width: 30%;
    height: 20px;
    top: -20px;
    left: 0;
}
.services-drop::after{
    content: "";
    position: absolute;
    width: 40%;
    height: 20px;
    top: -20px;
    left: 0;
}
.drop:nth-child(2):hover .pages-drop {
    opacity: 1;
    display: flex;
}
.drop:nth-child(3):hover .services-drop {
    opacity: 1;
    display: flex;
}
.hiring{
    font-size: 20px;
    position: relative;
    color: #002c57;
}
.hiring::after{
    content: "";
    width: 110%;
    height: 10px;
    background-image: url(https://www.beyondcss.dev/underline.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    bottom: -9px;
    left: -6px;
    animation: line 0.5s ease-in-out 0s;
} 
.hiring:hover{
    animation: hiringText 2.5s ease-in-out infinite;
}
.icon-control{
    height: 100%;
    width: 18%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-right: 2%;
    /* background-color:lightblue; */
}
.log-in{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36%;
    height: 35%;
    /* background-color: red; */
    border-radius: 8px;
    border: 1px solid #002C57;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.log-in span{
    /* background-color: red; */
    color: #002C57;
    font-size: 14px;
    transition: 0.3s ease-in-out;
}
.log-in p{
    /* background-color: red; */
    color: #002C57;
    font-size: 14px;
    transition: 0.3s ease-in-out;
}
.log-in span{
    margin: 0 10px 0 0;
}
.start{
    width: 40%;
    height: 35%;
    background-color: #002C57;
    outline: none;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    margin: 0 10px;
    font-weight:400 ;
}
.start:hover{
    background-color: black;
}
.iconsearch-ctr{
    height: 35%;
    aspect-ratio: 1 / 1;
    /* background-color: #84C0C6 ; */
    display: flex;
    justify-content: center;
    border-radius: 5px;
}
.search {
    position: relative;
    width: 70%;
    object-fit: contain;
    cursor: pointer;
}
.iconsearch-ctr:hover .wrap{
    transform: translateY(0vh);
}.iconsearch-ctr:hover .search-box{
    transform: translateY(0vh);
}
.search-box{
    position: absolute;
    width: 100vw;
    height: 50vh;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.45s ease-in-out;
    transform: translateY(-100vh);
}
.wrap{
    width: 100vw;
    height: 50vh;
    background-color: #001020 ;
    top: 0;
    left: 0;
    opacity: 0.4;
    position: absolute;
    transform: translateY(-100vh);
    transition: 0.45s ease-in-out;
}
.search-box input{
    width: 60%;
    height: 18%;
    outline: none;
    border: none;
    padding-left: 2%;
    font-size: 17px;
}
.search-box label{
    display: none;
}
.icon-control a{
    height: 30%;
    width: 20%;
}
.icon-control a img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.line{
    width: 5%;
    height: 30%;
}
.icon {
    height: 18%;
    background-color: white;
    display: flex;
    justify-content: center;
}
.icon img{
    width: 45%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    cursor: pointer;
}






/* ANIMATIONS */

@keyframes line {
    0%{
        width: 0;
        opacity: 0;
    }
    100%{
        width: 110%;
        opacity: 1;
    }
}
@keyframes drop {
    0% {
        opacity: 0;
        top: 35px;
    }
    100% {
        opacity: 1;
        top: 50px;
    }
}
@keyframes hiringText {
    0%{
        transform: translateY(0);
    }
    25% {
        transform: translateY(-20%);
    }
    50% {
        transform: translateY(-5%);
    }
    75%{
        transform: translateY(-20%);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes titleHero1 {
    0%{
        transform: translateY(-20vh);
        opacity: 0;
    }
    100%{
        transform: translateY(0vh);
        opacity: 1;
    }
}
@keyframes titleHero2 {
    0%{
        transform: translateY(20vh);
        opacity: 0;
    }
    100%{
        transform: translateY(0vh);
        opacity: 1;
    }
}
@keyframes background {
    0%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes icon {
    0%{
        transform: translateY(0);
    }
    25% {
        transform: translateY(-10%);
    }
    50% {
        transform: translateY(-3%);
    }
    75%{
        transform: translateY(-10%);
    }
    100%{
        transform: translateY(0);
    }
}









/* HERO CONTENT */
.container{
    height: 85vh;
    overflow: hidden;
    margin-top: 15vh;
}
.main-slide{
    width: 100vw;
    height: 85vh;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    animation: background 4s ease-in-out;
    overflow: hidden;
    background-color: #00081A;
    /* mix-blend-mode: luminosity; */
}
.section-wrap{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(./images/hero\ \(color\).jpg);
    overflow: hidden;
    mix-blend-mode: luminosity;
    opacity: 0.6;
}
.hero-content{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 90;
}
.main-title{
    color: #52D3D8;
    font-size: 2.5rem;
    animation: titleHero1 3s ease-in-out;
    transform: translateY(0);
    font-weight: 400;
}
.hero-content h1{
    font-size: 10rem;
    color: white;
    animation: titleHero1 3s ease-in-out;
    transform: translateY(0);
}
.button-row{
    width: 50%;
    height: 10%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    animation: titleHero2 3s ease-in-out;
    margin-top: 2%;
}
.discover-1{
    width: 25%;
    background-color: #002C57;
    height: 100%;
    /* outline: none; */
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    cursor: pointer;
}
.discover-1 p{
    position: absolute;
    z-index: 70;
}
.discover-1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    z-index: 60;
    background-color: red;
    top: 0;
    left: 0;
    background-color: black;
    transition: 0.4s ease-in-out 0.2s;
}
.discover-1:hover::after{
    height: 100%;
}
.video{
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: none;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin: 0 2% 0 5%;
    
}
.video:hover{
    background-color:#46B1C9;
}
.video:hover span {
    color: white;
}

.video span:first-child{
    font-size: 1.4em;
    transition: 0.3s ease-in-out;
}
.video span:nth-child(2) {
    display: none;
}
.video-des{
    color: whitesmoke;
    font-size: 1rem;
    opacity: 0.7;
}






/* FEATURES CONTENT */
.row-content {
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    /* background-color: red; */
}
.feature{
    height: 65%;
    aspect-ratio: 11 / 10;
    position: relative;
    /* margin: 0 1.8%; */
    overflow: hidden;
    cursor: pointer;
    background-repeat: no-repeat;
    background-color: #001020;
}
.feature:nth-child(1){
    background-image: url(./images/feature-1.jpg);
}
.feature:nth-child(2){
    background-image: url(./images/feature-2.jpg);
}
.feature:nth-child(3){
    background-image: url(./images/feature-3.jpg);
}
.feature:hover .ft-content{
    transform: translateY(0);
    opacity: 1;
}
.feature:hover .ft-text{
    opacity: 0;
}
.ft-text{
    position: absolute;
    bottom: 12%;
    left: 10%;
    font-size: 1.3rem;
    font-weight: 700;
    color: white;
    z-index: 70;
    transition: 0.65s ease-in-out 0.2s;
}
.ft-content{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 80;
    background-color: rgba(0, 44, 87, 0.8);
    display: flex;
    opacity: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
    padding-left: 10%;
    transform: translateY(-100vh);
    transition: 0.65s ease-in-out;
}
.ft-content img{
    width: 22%;
}
.ft-content h2{
    margin: 8% 0;
    transition: 0.3s linear;
}
.ft-content h2:hover{
    color: #46B1C9;
    cursor: pointer;
}
.ft-content p{
    font-weight: 300;
    opacity: 0.6;
    width: 80%;
    line-height: 2em;
}














/* GET TO KNOW */

.get-to-know{
    width: 100%;
    height: 100vh;
    /* background-color: lightblue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    position: relative;
}
.get-to-know-background{
    position: absolute;
    /* top: 13%; */
    bottom: 0;
    right: 0;
    z-index: 50;
    transform: rotate(180deg);
}
.img-box {
    width: 49%;
    height: 76%;
    /* background-color: lightgrey; */
    position: relative;
    z-index: 60;
}
.get-to-know-right{
    width: 49%;
    height: 76%;
    /* background-color: lightgrey */
    z-index: 60;
}
.box-1{
    position: absolute;
    top: 0;
    left: 0;
}
.box-2{
    position: absolute;
    bottom: 0;
    right: 0;
}
.get-to-know-right{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    padding: 0 6%;
}
.get-to-know-title{
    color: #002C57;
    font-size: 1rem;
    font-weight: 700;
}
.get-to-know-right h2{
    font-size: 2.5rem;
}
.get-to-know-text{
    font-size: 1.1rem;
    color: black;
    opacity: 0.6;
    line-height: 2rem;
}
.list-text{
    width: 100%;
}
.list-text li p{
    display: inline-block;
    font-size: 1.1rem;
    margin: 3px 0;
}
.list-text li span{
    color: #46B1C9;
    font-size: 0.9rem;
    margin-right: 15px;

}
.solutions{
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.solutions span{
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 2rem;
    margin-right: 1%;
}
.solutions img{
    width: 4rem;
    margin-right: 15px;
    animation: icon 3s ease-in-out infinite;
}
.discover-2{
    width: 41%;
    background-color: #002C57;
    height: 11%;
    /* outline: none; */
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    cursor: pointer;
}
.discover-2 span{
    position: absolute;
    z-index: 70;
}
.discover-2::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    z-index: 60;
    background-color: red;
    top: 0;
    left: 0;
    background-color: black;
    transition: 0.4s ease-in-out 0.2s;
}
.discover-2:hover::after{
    height: 100%;
}















/* SERVICES */
.services{
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #002C57;
    position: relative;
    overflow: hidden;
}
.circle1{
    position: absolute;
    width: 60%;
    aspect-ratio: 15 / 10;
    background-color: #12486B;
    border-radius: 50%;
    transform: rotate(-30deg);
    top: -17%;
    left: -19%;
    z-index: 50;
    opacity: 0.5;
}
.circle2{
    position: absolute;
    width: 45%;
    aspect-ratio: 13 / 10;
    background-color: #46B1C9;
    border-radius: 50%;
    transform: rotate(-11deg);
    top:-33%;
    left:-25%;
    z-index: 50;
    opacity: 0.1;
}
.service-text{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 20%;
    /* background-color: red; */
    align-items: center;
    z-index: 60;
}
.service-title p{
    color: #46B1C9;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 10px;
}
.service-title h2{
    color: white;
    font-size: 2.5rem;
}
.title-content{
    width: 45%;
    height: 100%;
    color: white;
    opacity: 0.6;
    font-weight: 300;
    line-height: 2rem;
    align-items: center;
    display: flex;
}
.service-content{
    width: 80%;
    height: 50%;
    /* background-color: red; */
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 60;
}
.service-box{
    height: 82%;
    width:18%;
    background-color:#002C57;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 3%;
    /* outline: 1px solid #9FB7B9; */
    box-shadow: 0 0 2px 0.01em grey;
    transition: 0.4s ease-in-out;
}
.service-box img{
    width: 49%;
}
.service-box h3 {
    color: white;
    margin: 12% 0;
    transition: 0.4s ease-in-out;
}
.service-box p{
    color: white;
    font-weight: 300;
    opacity: 0.8;
    font-size: 0.9rem;
    transition: 0.4s ease-in-out;
}
.service-box:hover{
    background-color:rgb(240, 240, 240);
    transform: translateY(-6%);
}
.service-box:hover h3, .service-box:hover p {
    color: black;
}






/* FEEDBACKS */
.feedbacks{
    /* background-color: #; */
    width: 100vw;
    height: 65vh;
    background-color: #00081A;
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
}
.feedbacks h1{
    color: white;
    display: none;
}
.fb-wrap{
    position: absolute;
    background-image: url(./images/business-from-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    mix-blend-mode: luminosity;
    opacity: 0.6;
}
.fb-slide{
    z-index: 60;
    width: 90%;
    height: 80%;
    display:flex;
    flex-direction: row;
    /* justify-content:start; */
    overflow: hidden;
}
.feedback-item{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    padding: 3% 2%;
    color: white;
    min-width: 100%;
    animation: slideFb2 40s ease-in-out infinite;
}
.client-img{
    height: 100%;
    margin: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.client-img img{
    border-radius: 50%;
}
.client-img span{
    font-weight: 300;
    line-height: 1.5rem;
}
.client-img p{
    font-weight: 700;
    text-align: center;
}
.fb-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    /* background-color: lightcoral; */
    width: 80%;
}
.fa-quote-left{
    font-size: 2rem;
    margin-right: 20px;
}
.fa-quote-right{
    margin-left: 20px;
}
.fb-text p{
    font-size: 2rem;
    line-height: 3rem;
}




@keyframes slideFb {
    from {
        transform: translateX(-100px);
    }
    to {
        transform: translateX(calc(-1583px * 3));
    }
}
@keyframes slideFb2 {
    0%{
        transform: translateX(0px);
    }
    33%{
        transform: translateX(-90vw);
    }
    66%{
        transform: translateX(calc(-90vw * 2));
    }
    100% {
        transform: translateX(calc(-90vw * 3));
    }
}














.projects{
    width: 100vw;
    height: 120vh;
    background-color:rgb(240,240,240);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project-texts{
    /* background-color: lightpink; */
    text-align: center;
    margin-bottom: 50px;
}
.project-tagline{
    color: #002C57;
    font-size: 1rem;
    font-weight: 700;
}
.project-texts h2{
    margin-top: 10px;
    font-size: 2.5rem;
}
.project-container{
    width: 80%;
    height:60%;
    display: flex;
    justify-content: space-between;
    /* background-color: lightcoral; */
}
.project-item{
    width: 32%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction:column;
    align-items: center;
    background-color: rgb(250, 250, 250);
    transition: 0.4s ease-in-out;
}
.project-img {
    width: 100%;
    height: 40%;
    position: relative;
    background-color: red;
}
.background1{
    background-color: #664677;
}
.background2{
    background-color: #3d5c77;
}
.background3{
    background-color: #575729;
}
.project-img:nth-child(2){
    background-color: red;
}
.project-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.project-img::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    mix-blend-mode: luminosity;
    transition: 0.4s ease-in-out;
}
.background1::after{
    background-image: url(./images/project-1.jpg);
}
.background2::after{
    background-image: url(./images/project-2.jpg);
}
.background3::after{
    background-image: url(./images/project-3.jpg);
}
.project-content{
    /* background-color: lightblue; */
    flex: 1;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.project-content p{
    font-size: 1rem;
    line-height:2rem;
}

.content-tagline1{
    color: #664677;
    font-weight: 600;
}
.content-tagline2{
    color:  #3d5c77;
    font-weight: 600;
}
.content-tagline3{
    color:  #575729;
    font-weight: 600;
}
.project-tagline{
    position: relative;
}
.project-tagline::before{
    content: "";
    position: absolute;
    width: 20%;
    height: 1px;
    left: 0;
    top: 50%;
    background-color: #002c57;
}
.project-tagline::after{
    content: "";
    position: absolute;
    width: 20%;
    height: 1px;
    right: 0;
    top: 50%;
    background-color:#002c57;
}
.project-content h3{
    font-size: 1.3rem;
    line-height: 2rem;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}
.project-content h3:hover{
    color: #46B1C9;
}
.project-content p:nth-child(3){
    font-weight: 400;
}
.project-btn{
    height: 15%;
    width: 100%;
    border: none;
    position: relative;
    cursor: pointer;
}
.project-btn::after{
    content: "";
    width: 100%;
    height: 0;
    background-color: #84C0C6;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 50;
    transition: 0.4s ease-in-out;
}
.btn-text1{
    color: #664677;
}
.btn-text2{
    color:  #3d5c77;
}
.btn-text3{
    color:  #575729;
}
.project-item:hover .project-btn::after{
    height: 100%;
}
.project-item:hover .project-btn span{
    color: white;
}
.project-item:hover{
    transform: scale(1.03);
}
.project-btn span{
    font-weight: 700;
    position: relative;
    z-index: 60;
    transition: 0.4s ease-in-out;
}






/* FOOTER */
.footer{
    width: 100vw;
    height: 55vh;
    background-color: #002C57;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    overflow: hidden;
}
.footer-bg{
    position: absolute;
    top: -18%;
    left: -5%;
    height: 100%;
    opacity: 0.4;
    transform: rotate(180deg);
    z-index: 50;
}
.footer-bg2{
    position: absolute;
    top: -30%;
    right: 0;
    height: 150%;
    opacity: 0.4;
    z-index: 50;
}
.about-col, .links-col, .contact-col, .icon-col{
    position: relative;
    z-index: 60;
}
.about-col{
    width: 23%;
    height: 65%;
    /* background-color: lightblue; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1% 1%;
}
.about-col img{
    width: 65%;
}
.about-col p,.about-col label{
    font-size: 1rem;
    line-height: 1.8rem;
    opacity: 0.8;
    color: lightgrey;
}
.about-col input{
    height: 28%;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 0.9rem;
}
.links-col{
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1% 1%;
    /* background-color: red; */
}
.links-col h3{
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 40px;
    color: white;
}
.links-col ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    /* background-color: blue; */
}
.links-col ul li{
    font-size: 0.9rem;
    color: lightgrey;
    opacity: 0.8;
}
.contact-col{
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* background-color: lightpink; */
    padding: 1% 1%;
}
.contact-col h3{
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 40px;
    color: white;
}
.contact-col ul{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.contact-col ul li:nth-child(2){
    margin: 15px 0;
}
.contact-col ul li{
    font-size: 0.9rem;
    color: lightgrey;
    opacity: 0.8;
    line-height: 1.5rem;
}
.contact-col ul li span:first-child{
    color: #46B1C9;
    margin-right: 8px;
}
.icon-col{
    height: 65%;
    display: flex;
    padding: 1% 1%;
    font-size: 2rem;
    color:#46B1C9;
    /* background-color: red; */
}
.icon-col span{
    margin: 0 12px;
    display: block;
}




.cp-right{
    text-align: center;
    color: white;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 8vh;
    background-color: #001020;
}