/*
filename: [jobs.css]
author: [cos10026.2 - g5]
created: [10/02/2024]
last modified: [25/02/2024]
description: [jobs.html]
*/


/* HEADER */
.drop:nth-child(3){
    opacity: 1;
    position: relative;
}
.drop:nth-child(3)::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5%;
    background-color: #84C0C6;
}

/* HERO */
.hero-content {
    width: 100vw;
    height: 85vh;
    display: flex;
    justify-content: center;
    margin-top: 15vh;
    background-color: #00081A;
    position: relative;
    overflow: hidden;
}
.hero-wrap{
    background-image: url(./images/job-hero.jpg);
    background-position: center;
    /* background-color: #1B1525; */
    background-size: cover;
    mix-blend-mode: luminosity;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    animation: background 4s ease-in-out;
}
.hero-items {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 20;
    /* background-color: lightblue; */
}
.hero-items a{
    width: 14%;
    height: 10%;
}
.hero-items h2{
    font-size: 4em;
    color: white;
    animation: titleHero1 3s ease-in-out;
}
.hero-items p:nth-child(2){
    color: #46B1C9;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 15px 0 40px;
    animation: titleHero1 3s ease-in-out;
    /* background-color: red; */
    /* width: %; */
    text-align: center;
}
.hero-button{
    width: 100%;
    height: 100%;
    background-color: #002c57;
    border: none;
    position: relative;
    /* text-align: center; */
    cursor: pointer;
    animation: titleHero2 3s ease-in-out;
}
.hero-button p{
    color: white;
    font-size: 1rem;
    font-weight: 700;
    position: relative;
    z-index: 20;
    /* background-color: red; */
}
.hero-button::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    background-color: black;
    top: 0;
    left: 0;
    transition: 0.4s ease-in-out 0.1s;
}
.hero-button:hover::before{
    height: 100%;
}







@keyframes titleHero1 {
    0%{
        transform: translateY(-20vh);
        opacity: 0;
    }
    100%{
        transform: translateY(0vh);
        opacity: 1;
    }
}
@keyframes titleHero2 {
    0%{
        transform: translateY(20vh);
        opacity: 0;
    }
    100%{
        transform: translateY(0vh);
        opacity: 1;
    }
}
@keyframes background {
    0%{
        scale: 1.1;
    }
    100%{
        scale: 1;
    }
}









/* JOBS */
.jobs{
    width: 100%;
    height: 110vh;
    background-color: rgb(240,240,240);
    display:flex;
    /* justify-content: space-evenly; */
    align-items: center;
    /* justify-content: space-between; */
    flex-direction: column;
    overflow: hidden;
}
.jobs-title{
    height: 10%;
    /* background-color: lightseagreen; */
    display: flex;
    margin: 1.2% 0 0.2%;
    font-size: 1.4em;
    /* justify-content: center; */
    align-items: center;
}
.jobs-container{
    width: 90%;
    flex: 1;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    /* background-color: lightpink; */
    /* margin-top: 3%; */
    /* overflow: hidden; */
}








.job-item{
    width: 30%;
    height: 90%;
    perspective:800px;
    transition: 1.9s ease-in-out;
    position: relative;
    z-index: 10;
    border-radius: 15px;
    /* pointer-events: none; */
    /* box-shadow: 0 0 5px 1px; */
}
.job-item-inner{
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    transition: transform 0.6s ease-in-out;
    transform-style:preserve-3d;
    /* background-color: white; */
    z-index: 20;
}
.job-item:hover .job-item-inner {
    transform: rotateY(180deg);
}










.job-item:first-child:hover{
    z-index: 20;
    transform: translateX(111%);
}
.job-item:first-child:hover::before{
    transform: scale(2);
}
.job-item:first-child:hover ~ .job-item:nth-child(2){
    z-index: 10;
}
.job-item:first-child:hover ~ .job-item:nth-child(3){
    z-index: 10;
}
.job-item:first-child{
    position: relative;
    z-index: 20;
    /* transition-property: transform, z-index;
    transition-delay: 0.8s, -0.1s; */
}
.job-item:first-child::before{
    content: "";
    position: absolute;
    left: -138%;
    top: -90%;
    transform: scale(0);
    border-radius: 50%;
    width: 100vw;
    aspect-ratio: 1 / 1;
    background-color:#00081A;
    opacity: 0.5;
    z-index: 15;
    transition: 1s ease-in-out;
}



.job-item:nth-child(2):hover::before{
    transform: scale(2);
}
.job-item:nth-child(2):hover{
    z-index: 20;
}
.job-item:nth-child(2):hover ~ .job-item:first-child{
    z-index: 10;
}
.job-item:nth-child(2):hover ~ .job-item:nth-child(3){
    z-index: 10;
}
.job-item:nth-child(2){
    /* transition-delay: 0.7s; */
    position: relative;
    z-index: 20;
    /* transform: translateZ(500px); */
}
.job-item:nth-child(2)::before{
    content: "";
    position: absolute;
    left: -138%;
    top: -90%;
    transform: scale(0);
    border-radius: 50%;
    width: 100vw;
    aspect-ratio: 1 / 1;
    background-color:#00081A;
    opacity: 0.5;
    z-index: 15;
    transition: 0.8s ease-in-out 0s;
}


.job-item:nth-child(3):hover{
    z-index: 20;
    transform: translateX(-111%);
}
.job-item:nth-child(3):hover::before{
    transform: scale(2);
}
.job-item:nth-child(3):hover ~ .job-item:nth-child(2){
    z-index: 10;
}
.job-item:nth-child(3):hover ~ .job-item:nth-child(3){
    z-index: 10;
}
.job-item:nth-child(3){
    position: relative;
    z-index: 20;
    /* transition-property: transform, z-index;
    transition-delay: 0.8s, -0.1s; */
}
.job-item:nth-child(3)::before{
    content: "";
    position: absolute;
    left: -138%;
    top: -90%;
    transform: scale(0);
    border-radius: 50%;
    width: 100vw;
    aspect-ratio: 1 / 1;
    background-color:#00081A;
    opacity: 0.5;
    z-index: 15;
    transition: 1s ease-in-out;
}





















.job-front, .job-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
    border-radius: 10px;
    transform: rotateX(0deg);
    box-shadow: 0 0 10px 5px lightgrey;
}
.job-front{
    background-color: white;
    display: flex;
    flex-direction: column;
}
.job-back{
    background-color: white;
    transform: rotateY(180deg);
    position: relative;
}
.back-wrap{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: relative;
    /* background-color: lightblue; */
    display: flex;
    flex-direction: column;
    text-align: right;
    pointer-events: none;
}
.back-container{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    z-index: 20;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-evenly;
    padding: 5px 10px;
    /* pointer-events: auto; */
}
.back-container ul li {
    list-style: disc;
    margin-left: 10%;
    line-height: 1.4em;
}
.back-container ul strong {
    margin: 0.4em 5px;
    display: block;
    font-size: 1.1em;
}

.requirements{
    position: absolute;
    width: 90%;
    height: 100%;
    bottom: 0;
    right: 0;
    z-index: 10;
    border-radius: 0px 10px 10px 0px;
    background-color:#00081A;
    transition: 0.4s ease-in-out 0.2s;
    text-align: left;
    padding: 1% 12%;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
}
.requirements::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: red; */
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    mix-blend-mode: luminosity;
    opacity: 0.4;
    z-index: 10;
    /* background-blend-mode: luminosity; */
}
.require-slide-1::before {
    background-image: url(./images/feature-2.jpg);
}
.require-slide-2::before {
    background-image: url(./images/feature-1.jpg);
}
.require-slide-3::before {
    background-image: url(./images/feature-3.jpg);
}
.requirements ol {
    position: relative;
    z-index: 20;
    /* background-color: red; */
}
.requirements ol strong {
    margin:1.5em 5px;
    display: block;
    font-size: 1.1em;
    color: white;
}
.requirements ol li {
    line-height: 1.4em;
    margin: 1em 0;
    color: white;
    font-weight: 400;
}
.back-wrap:hover .requirements{
    right: -88%;
}   

.item-img{
    width: 100%;
    height: 40%;
    background-color: #fff;
    border-radius: 10px;
}
.item-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
.item-content{
    /* background-color: lightsalmon; */
    display: flex;
    flex: 1;
    flex-direction: column;
    /* justify-content: space-evenly; */
    padding: 3% 5%;
    border-radius: 0 0 15px 15px;
}
.item-content h3{
    font-size: 1.4em;
    font-weight: 700;
    margin: 0.8em 0;
    /* background-color: red; */
}
.job-des{
    font-weight: 400;
    /* line-height: 1.3em; */
    line-height: 1.8em;
}
.turn-back{
    width: 100%;
    height: 17%;
    background-color: #002c57;
    color: white;
    margin: 5% 0;
    font-size: 90%;
}
.see-more{
    width: 90%;
    height: 10%;
    background-color: #002c57;
    color: white;
    font-size: 90%;
    border-radius: 5px;
    pointer-events: auto;
    margin: 0 auto;
    cursor: pointer;
    position: relative;
    animation: jobButton 3s ease-in-out infinite ;
}
.see-more::before{
    content: "";

}
.jobs a{
    width: 12%;
    height: 8vh;
    background-color: red;
    position: relative;
    z-index: 50;
    margin: 1% 0;
}
.jobs-button{
    background-color: #002C57;
    height: 100%;
    width: 100%;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    cursor: pointer;
    /* margin: 50px auto; */
}
.jobs-button p{
    position: relative;
    z-index: 70;
}
.jobs-button::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    z-index: 30;
    /* background-color: red; */
    top: 0;
    left: 0;
    background-color: black;
    transition: 0.4s ease-in-out 0.1s;
}
.jobs-button:hover::after{
    height: 100%;
}




/* ASIDE */
aside {
    width: 25vw;
    height: 20vh;
    float: right;
    border: 2px solid #002C57;
    border-radius: 10px;
    opacity: 1;
}



@keyframes jobButton {
    0%{
        transform: translateY(0);
    }
    25% {
        transform: translateY(-10%);
    }
    50% {
        transform: translateY(-3%);
    }
    75%{
        transform: translateY(-10%);
    }
    100%{
        transform: translateY(0);
    }
}