* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
header ul, .hero-navi, footer ul{
    list-style-type: none;
}
a {
    color: inherit;
    text-decoration: none;
}





/* HEADER */

.header{
    width: 100vw;
    height: 15vh;
    background-color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px 2px grey;
    z-index: 100;
    position:fixed;
    /* background-color: blue; */
}
.logo {
    width: 11%;
    margin-left: 3%;
    cursor: pointer;
    /* background-color: red; */
}
.logo img{
    width: 100%;
    object-fit: cover;
}
.main-menu{
    width: 47%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    /* background-color: gray; */
}
.drop:nth-child(6){
    opacity: 1;
    position: relative;
}
.drop:nth-child(6)::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5%;
    background-color: #84C0C6;
}
.drop{
    position: relative;
    transition: 0.3s ease;
    color: #002c57;
    opacity: 0.5;
}
.drop::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 5%;
    background-color: #46B1C9;
    transition: 0.4s ease-in-out;
}
.drop:hover::after{
    width: 100%;
}
.drop:hover{
    opacity: 1;
}
.pages-drop, .services-drop{
    position: absolute;
    top: 50px;
    width: 12vw;
    font-size: 15px;
    background-color: white;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    animation: drop 0.4s ease;
    opacity: 0;
    line-height: 8vh;
}
.pages-drop li:hover{
    background-color: #46B1C9;
    color: white;
}
.services-drop li:hover{
    background-color: #46B1C9;
    color: white;
}
.pages-drop li, .services-drop li{
    transition: 0.2s linear;
    /* border-radius: 10px; */
    padding-left: 10px;
}
.pages-drop li:nth-child(3), .services-drop li:nth-child(4){
    border-radius: 0 0 5px 5px;
}
.pages-drop li:nth-child(1), .services-drop li:nth-child(1){
    border-radius: 5px 5px 0 0;
}
.pages-drop::after{
    content: "";
    position: absolute;
    width: 30%;
    height: 20px;
    top: -20px;
    left: 0;
}
.services-drop::after{
    content: "";
    position: absolute;
    width: 40%;
    height: 20px;
    top: -20px;
    left: 0;
}
.drop:nth-child(2):hover .pages-drop {
    opacity: 1;
    display: flex;
}
.drop:nth-child(3):hover .services-drop {
    opacity: 1;
    display: flex;
}
.hiring{
    font-size: 20px;
    position: relative;
    color: #002c57;
}
.hiring::after{
    content: "";
    width: 110%;
    height: 10px;
    background-image: url(https://www.beyondcss.dev/underline.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    bottom: -9px;
    left: -6px;
    animation: line 0.5s ease-in-out 0s;
} 
.hiring:hover{
    animation: hiringText 2.5s ease-in-out infinite;
}
.icon-control{
    height: 100%;
    width: 18%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-right: 2%;
    /* background-color:lightblue; */
}
.log-in{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36%;
    height: 35%;
    /* background-color: red; */
    border-radius: 8px;
    border: 1px solid #002C57;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.log-in span{
    /* background-color: red; */
    color: #002C57;
    font-size: 14px;
    transition: 0.3s ease-in-out;
}
.log-in p{
    /* background-color: red; */
    color: #002C57;
    font-size: 14px;
    transition: 0.3s ease-in-out;
}
.log-in span{
    margin: 0 10px 0 0;
}
.start{
    width: 40%;
    height: 35%;
    background-color: #002C57;
    outline: none;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    margin: 0 10px;
    font-weight:400 ;
}
.start:hover{
    background-color: black;
}
.iconsearch-ctr{
    height: 35%;
    aspect-ratio: 1 / 1;
    /* background-color: #84C0C6 ; */
    display: flex;
    justify-content: center;
    border-radius: 5px;
}
.search {
    position: relative;
    width: 70%;
    object-fit: contain;
    cursor: pointer;
}
.iconsearch-ctr:hover .wrap{
    transform: translateY(0vh);
}.iconsearch-ctr:hover .search-box{
    transform: translateY(0vh);
}
.search-box{
    position: absolute;
    width: 100vw;
    height: 50vh;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.45s ease-in-out;
    transform: translateY(-100vh);
}
.wrap{
    width: 100vw;
    height: 50vh;
    background-color: #001020 ;
    top: 0;
    left: 0;
    opacity: 0.4;
    position: absolute;
    transform: translateY(-100vh);
    transition: 0.45s ease-in-out;
}
.search-box input{
    width: 60%;
    height: 18%;
    outline: none;
    border: none;
    padding-left: 2%;
    font-size: 17px;
}
.search-box label{
    display: none;
}
.icon-control a{
    height: 30%;
    width: 20%;
}
.icon-control a img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.line{
    width: 5%;
    height: 30%;
}
.icon {
    height: 18%;
    background-color: white;
    display: flex;
    justify-content: center;
}
.icon img{
    width: 45%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    cursor: pointer;
}





/* HERO */
.hero-content {
    width: 100%;
    height: 40vh;
    background-image: url(../images/page-header-bg.png);
    background-position: center;
    background-color: #1B1525;
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 15vh;
    
}
.hero-items {
    width: 50%;
    height: auto;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    /* background-color: lightblue; */
    position: relative;
    padding: 100px 0 0 0;
}
.hero-navi {
    width: 20%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    /* background-color: red; */
    font-size: 1em;
    font-weight: 700;
    padding-bottom: 0.5em;
    color: #46B1C9;
}
.hero-items h2 {
    /* padding-top: 0em; */
    font-size: 2.6rem;
    font-weight: 700;
    color: whitesmoke;
}








/* JOBS */
.jobs {
    width: 100%;
    height: 100%;
    margin: 50px 0;
}
.jobs-title {
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 20px;
}
.jobs-title span {
    font-size: 1.2em;
    font-weight: 500;
    color: #002C57;
}
.jobs-title h1 {
    font-size: 3em;
}
.jobs-bar {
    width: 100%;
    margin: 10px 2px ;
    word-spacing: 5px;
    line-height: 1.5em;
}
.jobs-bar span{
    font-size: 1.3em;
    font-weight: 600;
}
.bar1,.bar3 {
    text-align: left;
    background-color: #46B1C9;
}
.jobs-bar ul,.jobs-bar ol,.jobs-bar p {
    margin-left: 20px;
}
.bar2 {
    width: 100%;
    /* text-align: right; */
    /* display: flex;
    flex-direction: column;
    justify-content: flex-end; */
    /* background-color: red; */
}
.jobs-anchor {
    width: fit-content;
    height: 100%;
    background-color: red;
    
}
.jobs-button{
    width: 12%;
    background-color: #002C57;
    /* height: 25%; */
    height: 8vh;
    /* outline: none; */
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    cursor: pointer;
    margin: 50px auto;
}
.jobs-button p{
    position: relative;
    z-index: 70;
}
.jobs-button::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    z-index: 30;
    /* background-color: red; */
    top: 0;
    left: 0;
    background-color: black;
    transition: 0.4s ease-in-out 0.2s;
}
.jobs-button:hover::after{
    height: 100%;
}








/* FOOTER */
.footer{
    width: 100vw;
    height: 55vh;
    background-color: #002C57;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    overflow: hidden;
}
.footer-bg{
    position: absolute;
    top: -18%;
    left: -5%;
    height: 100%;
    opacity: 0.4;
    transform: rotate(180deg);
    z-index: 50;
}
.footer-bg2{
    position: absolute;
    top: -30%;
    right: 0;
    height: 150%;
    opacity: 0.4;
    z-index: 50;
}
.about-col, .links-col, .contact-col, .icon-col{
    position: relative;
    z-index: 60;
}
.about-col{
    width: 23%;
    height: 65%;
    /* background-color: lightblue; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1% 1%;
}
.about-col img{
    width: 65%;
}
.about-col p,.about-col label{
    font-size: 1rem;
    line-height: 1.8rem;
    opacity: 0.8;
    color: lightgrey;
}
.about-col input{
    height: 28%;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 0.9rem;
}
.links-col{
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1% 1%;
    /* background-color: red; */
}
.links-col h2{
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 40px;
    color: white;
}
.links-col ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    /* background-color: blue; */
}
.links-col ul li{
    font-size: 0.9rem;
    color: lightgrey;
    opacity: 0.8;
}
.contact-col{
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* background-color: lightpink; */
    padding: 1% 1%;
}
.contact-col h2{
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 40px;
    color: white;
}
.contact-col ul{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.contact-col ul li:nth-child(2){
    margin: 15px 0;
}
.contact-col ul li{
    font-size: 0.9rem;
    color: lightgrey;
    opacity: 0.8;
    line-height: 1.5rem;
}
.contact-col ul li span:first-child{
    color: #46B1C9;
    margin-right: 8px;
}
.icon-col{
    height: 65%;
    display: flex;
    padding: 1% 1%;
    font-size: 2rem;
    color:#46B1C9;
    /* background-color: red; */
}
.icon-col span{
    margin: 0 12px;
    display: block;
}

/* ASIDE */
aside {
    width: 25vw;
    float: right;
    border: 2px solid #002C57;
    border-radius: 10px;
    opacity: 0;
}

/* ANIMATIONS */

@keyframes line {
    0%{
        width: 0;
        opacity: 0;
    }
    100%{
        width: 110%;
        opacity: 1;
    }
}
@keyframes drop {
    0% {
        opacity: 0;
        top: 35px;
    }
    100% {
        opacity: 1;
        top: 50px;
    }
}
@keyframes hiringText {
    0%{
        transform: translateY(0);
    }
    25% {
        transform: translateY(-20%);
    }
    50% {
        transform: translateY(-5%);
    }
    75%{
        transform: translateY(-20%);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes icon {
    0%{
        transform: translateY(0);
    }
    25% {
        transform: translateY(-10%);
    }
    50% {
        transform: translateY(-3%);
    }
    75%{
        transform: translateY(-10%);
    }
    100%{
        transform: translateY(0);
    }
}