* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
ul li{
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}
.alert {
    background-color: #f2dede;
    color: #a94442;
    padding: 10px;
    border: 1px solid #ebccd1;
    border-radius: 4px;
    margin-bottom: 15px;
}




body {
    padding: 0;
    margin: 0;
    height: 100vh;
    /* background:linear-gradient(50deg, rgba(255, 194, 0, 1) 0%, rgba(255, 98, 173, 1) 49%, rgba(238, 182, 130, 1) 100%); */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}
.container{
    width: 30vw;
    height:70vh;
    background-color: white;
    border-radius: 15px;
}
.sign-in{
    width: 100%;
    height: 100%;
    /* text-align: center; */
    /* background-color: lightgrey; */
    box-shadow: 0 0 10px 5px lightgrey;
    border-radius: 15px;
    place-items: center;
}  
/* .container h2 {
    text-align: center;
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid grey;
} */
.logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
    /* background-color: lightpink; */
    border-width: 0 0 1px 0;
    border-color: lightgrey;
    border-style: solid;
}
.sign-in img{
    width:47%;
    object-fit: cover;
}
.sign-in p {
    width: 100%;
    line-height: 3em;
    text-align: center;
    place-items: center;
    font-size: 1.5em;
    margin: 5% 0;
    /* background-color: lightblue; */
}
.log-out{
    display: flex;
    height: 70%;
    /* background-color: lightpink; */
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.links {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    /* background-color: red; */
}
.home, 
.login{
    width: 40%;
    /* background-color: lightblue; */
    height: 50px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgrey;
    margin: 0 2%;
    transition: 0.3s ease;
}
.home:hover, 
.login:hover{
    background-color: #46B1C9;
    color: white;
}