/*
filename: [manage.css]
author: [cos10026.2 - g5]
created: [10/02/2024]
last modified: [26/02/2024]
description: [manage.php]
*/


/* HEADER */
.drop:nth-child(5){
    opacity: 1;
    position: relative;
}
.drop:nth-child(5)::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5%;
    background-color: #84C0C6;
}


/* MAIN */
main {
    margin-bottom: 10vh;
    width: 100%;
}
.hero-content {
    width: 100vw;
    height: 45vh;
    background-image: url(./images/page-header-bg.png);
    background-position: center;
    background-color: #1B1525;
    background-size: cover;
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    margin-top: 15vh;
}
.hero-items {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.hero-navi {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 1em;
    font-weight: 700;
    color: #46B1C9;
}
.hero-navi li:nth-child(2){
    margin: 0 12px;
}
.hero-items h2 {
    font-size: 2.6rem;
    font-weight: 700;
    color: whitesmoke;
    margin: 15px 0;
}
h1 {
    line-height: 3em;
}
form {
    width: 80%;
    margin: 5vh auto;
    text-align: center;
    line-height: 2em;
    letter-spacing: 0.5px;
}
.form-container{
    width: 100%;
    border: 1px solid lightgrey;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.form-col{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    position: relative;
    border: 1px solid lightgrey;
}
form label, form span {
    font-size: 0.95em;
}
form input[type='submit'] {
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
    color: white;
    background-color: #002C57;
}
form input[type='text'], form select {
    border: 2px solid gray;
    border-radius: 10px;
    padding: 5px;
}
form input[type='text']:focus {
    border: 2px solid #002C57;
}
table {
    width: 82vw;
    margin: 10vh auto;
}
table caption {
    visibility: hidden;
}
table, th, td {
    border: 2px solid #1B1525;
    border-collapse: collapse;
}
th {
    font-weight: 800;
    color: white;
    background-color: #002C57;
}
th, td {
    padding: 15px;
}
.alert {
    width: fit-content;
    background-color: #f2dede;
    color: #a94442;
    padding: 10px;
    border: 1px solid #ebccd1;
    border-radius: 4px;
    margin-bottom: 15px;
    margin: 0 auto;
}
.notify {
    width: fit-content;
    background-color: #b5dcb5;
    color: #354935;
    padding: 10px;
    border: 1px solid #82EE82;
    border-radius: 4px;
    margin-bottom: 15px;
    margin: 0 auto;
}
